body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #000000, #0a0a0a, #000000);
  color: white;
  scroll-behavior: smooth;
}

/* glow effect */
.glow {
  box-shadow: 0 0 25px rgba(59,130,246,0.6);
  transition: 0.3s;
}

.glow:hover {
  box-shadow: 0 0 50px rgba(59,130,246,1);
}

/* section */
section {
  padding: 120px 20px;
  text-align: center;
}